apiVersion: apps/v1
kind: Deployment
metadata:
  name: orchestrator
  namespace: saga-ecommerce
spec:
  replicas: 1
  selector:
    matchLabels:
      app: orchestrator
  template:
    metadata:
      labels:
        app: orchestrator
    spec:
      containers:
      - name: orchestrator
        image: REPLACE_IMAGE_ORCHESTRATOR
        env:
        - name: PORT
          value: "5000"
        ports:
        - containerPort: 5000
---
apiVersion: v1
kind: Service
metadata:
  name: orchestrator
  namespace: saga-ecommerce
spec:
  selector:
    app: orchestrator
  ports:
  - protocol: TCP
    port: 5000
    targetPort: 5000
  type: LoadBalancer