apiVersion: apps/v1
kind: Deployment
metadata:
  name: shipping-service
  namespace: saga-ecommerce
spec:
  replicas: 1
  selector:
    matchLabels:
      app: shipping-service
  template:
    metadata:
      labels:
        app: shipping-service
    spec:
      containers:
      - name: shipping-service
        image: saga-ecommerce-shipping_service
        env:
        - name: SERVICE_NAME
          value: "shipping-service"
        - name: PORT
          value: "5105"
        ports:
        - containerPort: 5105
---
apiVersion: v1
kind: Service
metadata:
  name: shipping-service
  namespace: saga-ecommerce
spec:
  selector:
    app: shipping-service
  ports:
  - protocol: TCP
    port: 5105
    targetPort: 5105
